@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body
{
background:  lightgoldenrodyellow;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(43, 255, 202);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;, 
    box-shadow: 0 35px 55px;

}
.container .left_Side
{
    position: relative;
    background: #70a8c2;
    padding:40px;

}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(248, 81, 242, 0.916);

}

.profileText .imgBx img
{
    position: relative;
    padding-right: -50px; 
    padding-left: -50px;
}
.profileText h2
{
    color:rgb(249, 183, 238);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profileText h2 span
{
    font-size: 0.8em;
}

.contactInfo
{
    padding-top: 40px;
}
.title
{
    color:rgba(175, 246, 51, 0.881) ;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(200, 42, 42);
}
.contactInfo ul li span
{
    color: rgb(255, 217, 91);
    font-weight: 300;
}
.contactInfo .education li
{
    margin-bottom: 15px;
}
.contactInfo.education h5
{
    color:rgb(23, 240, 244);
    font-weight: 800;
}
.contactInfo.education h4:nth-child(2)
{
    color: rgb(255, 217, 91);
    font-weight: 800;
}
.contactInfo.education h4
{
    color: rgb(255, 217, 91);
    font-weight: 550;
}

.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: firebrick;
    display: block;
    margin-top: 5px;
    
}

.contactInfo.language .percent div
{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: chartreuse;

}


.container .right_Side
{
    position: relative;
    background: rgb(165, 177, 240);
    padding: 40px;

    
}
.about
{
    margin-bottom: 50px;

}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

}
p
{
    color:aquamarine;

}
.about .box
{
    display: flex;
    flex-direction: row;
     margin: 20px 0;

}
.about .box .year_university
{
    min-width: 150px;

}
.about .box .year_university h5
{
    text-transform: uppercase;
    color: rgba(16, 169, 11, 0.841);
    font-weight: 800;
    font-size: 16px;
    
}
.about .box .text h4
{
    text-transform: uppercase;
    color: rgba(13, 130, 44, 0.616);
    font-size: 16px;
}
.about .box p
{
    text-transform: uppercase;
    color: rgba(13, 130, 44, 0.616);
    font-size: 16px;
    font-weight: 600;
}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center ;

}
.skills .box h4
{
    text-transform: uppercase;
    color: blueviolet;
    font-weight: 500;

}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background:crimson;

}
.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: chartreuse;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.interest ul li
{
    list-style: none;
    color: rgb(154, 252, 16);
    font-weight: 600;
    font-size: 20px;

    margin:10px 0;

}
.rss
{
    width: 200px;
    height: 200px;
    background-image: url("./img/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
